<div class="flex justify-between">
  <div>
    <app-aside></app-aside>
  </div>
  <div class="w-[78vw]">
   <div class="border-b-2 py-4 px-2 border-gray-200 rounded-2xl">
        <input
          type="text"
          placeholder="search here . . ."
          class="py-2 px-2   w-2/3 italic"
        />
        <button><span class="material-symbols-outlined"> search </span></button>
      </div>
    <div class="posts grid grid-cols-6 sm:grid-cols-2 md:grid-cols-3">
      <div>
        <img src="https://cdn.pixabay.com/photo/2012/03/01/00/55/flowers-19830_1280.jpg" alt="" />
      </div>
    </div>
  </div>
</div>
