<div
  class="navbar border font-bold border-r border-solid border-black pr-2 w-[20vw] h-[100vh] p-8 fixed"
>
  <h1
    class="text-4xl font-bold hidden sm:inline"
    style="font-family: italianno"
  >
    talky
  </h1>
  <nav class="navigation flex flex-col justify-between">
    <div>
      <ul class="cursor-pointer">
        <li routerLinkActive="active">
          <a routerLink="/home"
            ><span class="material-symbols-outlined" >
              home
            </span>
            <span class="hidden sm:inline">home</span></a
          >
        </li>
        <!-- <li routerLinkActive="active">
          <a routerLink="/search"
            ><span class="material-symbols-outlined"> search </span
            ><span class="hidden sm:inline">search</span></a
          >
        </li> -->

        <li>
        <a routerLink="/messages"><span class="material-symbols-outlined"> forum </span> <span class="hidden sm:inline">messages</span></a>
      </li>
        <!-- <li routerLinkActive="active">
          <a
            ><span class="material-symbols-outlined"> favorite </span
            ><span class="hidden sm:inline">notifications</span></a
          >
        </li> -->
        <li routerLinkActive="active">
          <a routerLink="/post"
            ><span class="material-symbols-outlined"> library_add </span
            ><span class="hidden sm:inline">create</span></a
          >
        </li>
      </ul>
    </div>
    <div class="fixed bottom-0 profile">
      <a routerLink="/myProfile">
        <div class="w-[4vw] flex">
          <img
            src="https://st2.depositphotos.com/2559749/11304/v/450/depositphotos_113040644-stock-illustration-flat-icon-isolate-on-white.jpg"
            alt=""
            class="rounded-full border border-solid border-black"
          />
          <p class="mt-4"><span class="hidden sm:inline">profile</span></p>
        </div>
      </a>

      <a routerLink="/"
        ><i class="fa-solid fa-right-from-bracket text-2xl mt-4"></i
      ></a>
    </div>
  </nav>
</div>
