<div class="border font-bold  border-r border-solid border-black pr-2 w-[20vw] min-h-[100vh] p-8 fixed">
  <h1 class="text-4xl font-bold" style="font-family: italianno">talky</h1>
  <nav class="flex flex-col justify-between">
   <div>
     <ul>
      <li>
        <a><span class="material-symbols-outlined"> home </span> home</a>
      </li>
      <li>
        <a><span class="material-symbols-outlined"> search </span>search</a>
      </li>

      <li>
        <a><span class="material-symbols-outlined"> forum </span> messages</a>
      </li>
      <li>
        <a><span class="material-symbols-outlined"> favorite </span>notifications</a>
      </li>
      <li>
        <a><span class="material-symbols-outlined"> library_add </span>create</a>
      </li>
    </ul>
   </div>
   <div class="fixed bottom-0">
    <div class="w-[6vw] flex"><img src="https://st2.depositphotos.com/2559749/11304/v/450/depositphotos_113040644-stock-illustration-flat-icon-isolate-on-white.jpg" alt="" class="rounded-full border border-solid border-black" >
        <p class="mt-4">profile</p>
    </div>
    <a><span class="material-symbols-outlined">
menu
</span></a>
   </div>
  </nav>
</div>
