<div class="">
  <div class="flex">
    <div><app-aside></app-aside></div>

    <div
      class="popup flex p-4 w-2/6 bg-gray-100 p-6 ml-[400px] mt-[20px] rounded-lg shadow-md"
    >
      <form class="w-full max-w-lg">
        <label for="image" class="block text-sm font-medium text-gray-700 mb-1"
          >Photo</label
        >
        <input
          type="file"
          id="image"
          name="image"
          accept="image/png, image/jpeg"
          class="w-full py-2 px-3 border rounded-md mb-4"
        />

        <label
          for="comments"
          class="block text-sm font-medium text-gray-700 mb-1"
          >Caption</label
        >
        <textarea
          id="comments"
          name="comments"
          placeholder="Caption here"
          class="w-full py-2 px-3 border rounded-md mb-4 resize-vertical"
        ></textarea>
        <div class="flex justify-end space-x-4 font-bold">
          <button
            type="submit"
            class="bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-600"
          >
            Submit
          </button>
          <button
          routerLink="/home"
            type="button"
            class="bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-600"
          >
            Cancel
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
