<div class="flex justify-between ">
    <div><app-aside></app-aside></div>

    <div class="flex p-10 w-[80vw]">
        <form >
            <label>Photo</label><br>
            <input type="text" placeholder="image "> <br>
            <label>Comments</label> <br>
             <input type="text" placeholder="comments here"><br>
             <div class="flex gap-10 justify-end">
                  <button class="bg-[#007bff] w-[80px] h-[30px] rounded-lg"><i class="fa-solid fa-check text-white font-bold"></i></button>
             <button class="bg-[#007bff] w-[80px] h-[30px] rounded-lg"><i class="fa-solid fa-xmark text-white"></i></button>
             </div>

        </form>
    </div>
</div>
