<div class="flex justify-between">
  <div><app-aside></app-aside></div>
  <div class="p-10 w-[80vw]">
    <div class="flex mb-6" id="profiles">
      <div>
        <img
          src="https://st2.depositphotos.com/2559749/11304/v/450/depositphotos_113040644-stock-illustration-flat-icon-isolate-on-white.jpg"
          alt=""
          class="rounded-full border border-solid border-black"
          width="50px"
        />
        <p>tumisan_</p>
      </div>
    </div>
    <div class="posts flex justify-between">
      <div class="general w-[70%] flex flex-col">
        <div class="postscrol">
          <div class="scroll"></div>
          <div class="body flex text-xs font-bold">
            <img
              src="https://st2.depositphotos.com/2559749/11304/v/450/depositphotos_113040644-stock-illustration-flat-icon-isolate-on-white.jpg"
              alt=""
              class="rounded-full border border-solid border-black"
              width="40px"
            />
            <p class="mt-4 ml-2">tumisan_</p>
          </div>
          <div class="p-4 pl-8">
            <img
              src="https://media.istockphoto.com/id/1089853236/photo/couple-hugging.jpg?s=612x612&w=is&k=20&c=p4QCLB00TjPZscMCdvNViYrVUH0139t1Cjb5W84Qga4="
              alt=""
            />
          </div>
          <div class="flex gap-5">
            <button><i class="fa-regular fa-heart fa-lg"></i></button>
            <button><i class="fa-regular fa-comment fa-lg"></i></button>
            <button><i class="fa-regular fa-paper-plane fa-lg"></i></button>
          </div>
          <div class="caption">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Hic id mollitia doloribus molestiae ipsam ratione vero odio incidunt veniam repellat unde omnis debitis reiciendis commodi blanditiis, ipsa nobis molestias sunt.
          </div>
          <div class="border-b border-black-300 w-[80%] mt-4 ml-7">
            <textarea name="" id="" cols="35" placeholder="add your comment " style="outline: none;" class="resize-none h-auto"></textarea>
        </div>

        </div>
      </div>

      <div class="users w-[28%]">
        <p class="font-bold italic mb-3">suggestions for you . . .</p>
        <div class="flex">
          <img
            src="https://st2.depositphotos.com/2559749/11304/v/450/depositphotos_113040644-stock-illustration-flat-icon-isolate-on-white.jpg"
            alt=""
            class="rounded-full border border-solid border-black"
            width="40px"
          />
          <p class="mt-2 ml-2 mr-6">tumisan_</p>
          <button type="submit" class="text-[#007bff] font-bold italic text-xs">
            follow . . .
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
