@media (max-width: 640px) {
    .sm\:border-invisible {
        border-color: transparent ;
    }
    .form{
        width: 100%;
        padding:0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 30px;
    }
    form > input{
        width: 80vw;
        height: 3vh
    }
    form > div > input{
        width: 80vw
    }
}
