<div>
  <div class="flex gap-10 p-10 h-[94vh]">
    <div class="w-[49%] hidden sm:block">
      <img
        class="w-full h-full object-cover"
        src="https://cdn.pixabay.com/photo/2020/05/18/16/17/social-media-5187243_1280.png"
        alt=""
      />
    </div>

    <div class=" w-full md:w-[49%] h-full">
      <div class="form border border-solid border-black p-10  sm:border-invisible">
        <h1
          class="text-center text-4xl font-bold"
          style="font-family: italianno"
        >

          talky
        </h1>
        <form>
          <label for="" class="font-bold"> username </label> <br />
          <input
            class="border border-solid border-black w-[40vw] h-[7vh] p-5 mb-5"
            type="text"
            placeholder="username"
          /><br />
          <label for="" class="font-bold">password</label><br />
          <input
            class="border border-solid border-black w-[40vw] h-[7vh] p-5 mb-8"
            type="text"
            placeholder="********"
          /><br />

          <div class="flex justify-center">
            <input
              type="submit"
              value="Log In"
              class="bg-[#0d99ff] text-white font-bold rounded-lg w-[30vw] h-[40px]"
            />
          </div>
        </form>
        <div class="flex mt-10 gap-2 items-center">
            <hr class="w-[30%] my-2 border-t-2 border-gray-400 hidden sm:block" />
        <p class="font-bold text-xl">
          <a class="hover:text-[#007bff]">forgot password?</a>
        </p>
        <hr class="w-[30%] my-2 border-t-2 border-gray-400 hidden sm:block" />
        </div>

      </div>
      <div class="border border-solid border-black mt-10 p-10 sm:border-invisible">
        <p class="font-bold text-center italic">
          don't have an account? <span class="text-[#0d99ff] text-xl ml-4"><a routerLink="/register">sign up</a></span>
        </p>
      </div>
    </div>
  </div>
<app-footer></app-footer>

</div>
